/* at组件的对应修改，ps：引入组件的样式只能在引入该样式模块的js中添加新的css去修改 */
.at-search-bar {
  background-color: transparent;
}
.at-search-bar__input {
  padding-top: 0;
  padding-bottom: 0;
}
.at-search-bar::after {
  border: none;
}
.at-input .at-input--disabled {
  opacity: 1;
}
