.search {
  box-sizing: border-box;
  padding: 20px 0 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.ad-box {
  width: 45%;
  height: 180px;
  margin-bottom: 10px;
}
.ad-box-img {
  width: 100%;
  height: 100%;
}

.product {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}
.product-box {
  width: 50%;
  box-sizing: border-box;
  padding: 0 5px 5px 0;
}
