.category {
  box-sizing: border-box;
  padding: 20px 0 0;
  display: flex;
}
.catrgoty-li {
  width: 400px;
}
.icon-title {
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon {
  width: 72px;
  height: 72px;
}
.title {
  padding-top: 5px;
  width: 110px;
  font-size: 10pt;
  text-align: center;
  color: rgb(165, 165, 165);
}
.indicator {
  display: flex;
  justify-content: center;
}
