.search {
  width: 100%;
  background-color: transparent;
}
.search-box {
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #ccc;
  display: flex;
  align-items: center;
}
.search-icon {
  padding: 0 15px 0 20px;
}
.search-input {
  font-size: 10pt;
  height: 40px;
  min-height: 40px;
  color: #e8e8e8;
}
