.cg {
  display: flex;
  flex-wrap: wrap;
}
.cg-search {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 20px;
  border-bottom: 1px solid #ccc;
}
.cg-search-input {
  width: 80%;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
}
.cg-scroll {
  width: 120px;
}
.cg-scroll-category {
  height: calc(100% - 36px);
}
.cg-scroll-item {
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  padding: 20px;
}
.cg-view {
  width: calc(100% - 120px);
  box-sizing: border-box;
  padding: 20px;
}
